@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: #FFF7E6;
  --color-secondary: #D6C2E0;
  --color-tertiary: #B9E3D6;
  --color-tertiary-darker: #90b8ab;
  --color-accent: #FFD966;
  --color-secondary-accent: #FF6F61;

    --color-on-background: #000000; 
  --color-on-secondary: #000000; 
  --color-on-tertiary: #000000; 
  --color-on-accent: #000000;           
  --color-on-secondary-accent: #ffffff;

    --color-background-dark: #1A1A1A;
  --color-secondary-dark: #3E3A4E;
  --color-tertiary-dark: #2D4A3B;
  --color-tertiary-darker-dark: #1F3A2B;
  --color-accent-dark: #FFD966;
  --color-secondary-accent-dark: #FF6F61;

  --color-on-background-dark: #ffffff;
  --color-on-secondary-dark: #ffffff;
  --color-on-tertiary-dark: #ffffff;
  --color-on-accent-dark: #000000;
  --color-on-secondary-accent-dark: #000000;
}
