@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-background-50: #fffdf5;
	--color-background: #fff7e6;
	--color-background-100: #fff1d9;
	--color-background-dark-50: #2b2633;
	--color-background-dark: #1f1a26;
	--color-background-dark-100: #16131b;
	--color-on-background: #000000;
	--color-on-background-dark: #ffffff;

	--color-secondary-50: #e5dbeb;
	--color-secondary: #d6c2e0;
	--color-secondary-100: #c2aee0;
	--color-secondary-dark-50: #73638f;
	--color-secondary-dark: #5a4a72;
	--color-secondary-dark-100: #3e314f;
	--color-on-secondary: #000000;
	--color-on-secondary-dark: #ffffff;

	--color-tertiary-50: #d0f0e2;
	--color-tertiary: #b9e3d6;
	--color-tertiary-100: #90b8ab;
	--color-tertiary-dark-50: #4f8b74;
	--color-tertiary-dark: #39705d;
	--color-tertiary-dark-100: #264d3e;
	--color-on-tertiary: #000000;
	--color-on-tertiary-dark: #ffffff;

	--color-accent-50: #fff0b3;
	--color-accent: #ffd966;
	--color-accent-100: #e6c94d;
	--color-accent-dark-50: #f4c74c;
	--color-accent-dark: #d9a100;
	--color-accent-dark-100: #a87600;
	--color-on-accent: #000000;
	--color-on-accent-dark: #ffffff;

	--color-secondary-accent-50: #ffb3b8;
	--color-secondary-accent: #ff8c94;
	--color-secondary-accent-100: #e66f76;
	--color-secondary-accent-dark-50: #ff9aa2;
	--color-secondary-accent-dark: #e06c75;
	--color-secondary-accent-dark-100: #b94a57;
	--color-on-secondary-accent: #000000;
	--color-on-secondary-accent-dark: #ffffff;
}
